body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

/* Radar animado de geolocalizacion en iconosMapa.js */
.radar-icon {
  width: 15px;
  height: 15px;
  background-color: #024da3;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(31, 47, 47, 0.4);
  animation: pulse 2s infinite; /*Pulse es la clase de keyframes*/
}

@keyframes pulse {/*Animacion del icono de radar*/
  0% {
    box-shadow: 0 0 0 0 rgba(1, 57, 240, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(1, 57, 240, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(1, 57, 240, 0.4);
  }
}



/* Responsivo para móviles */
@media (max-width: 768px) {
  button {
    font-size: 1em;
    padding: 0.6em;
    bottom: 1em;
    right: 1em;
  }

  .leaflet-container {
    height: 100vh;
    width: 100vw;
  }
  
  /* Ajustar el tamaño de los botones para móviles */
  .search-button, .panic-button {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
  }
  
  /* Ajustar la brújula para móviles */
  .compass {
    width: 50px;
    height: 50px;
  }
}

/* Para pantallas muy pequeñas */
@media (max-width: 480px) {
  button {
    width: 45px;
    height: 45px;
    font-size: 1.3em;
  }
  
  .compass {
    width: 40px;
    height: 40px;
  }
}